<html>
    <head>
      <title>Weather</title>
      <link rel="icon" href="/img/weather.png"/>    
    <link rel="stylesheet" href="/css/styles.css" />
    
    </head>
    <body>
        <div class='main-content'>
             {{>header}}
             <p>Use this site to get your weather information. Just Enter the name of location and you will get the Forecast data</p>
             <form>
               <input placeholder="Enter location">
               <button>Submit</button>
             </form>
            <div class="response" >
                 <img src="/img/weather.png" id="weather-img"/>
                 <h2 id="message-1"> Location : </h2>
                 <h2 id="message-2">temperature :</h2>
                 <h2 id="message-3"> Forcast :</h2>
                <h2 id="message-4"> Humidity :</h2>
            </div>
            


          
        </div>
       
        {{>footer}}

        <script src="/js/script.js"></script>
    </body>    
</html>